apiVersion: apps/v1
kind: Deployment
metadata:
  name: api

spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
        tier: application
    spec:
      containers:
      - name: api
        image: mma44331/mongo_query:v1
        ports:
        - containerPort: 8000
        env:
          - name: MONGO_URL
            value: "mongodb://mongo-0.mongo-svc:27017/"



